// Here you can add other styles
.nav-item .router-link-exact-active {
    color: #fff;
    background: #20a8d8!important;

    i {
        color: #fff!important;
    }
}

.indicator {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    position: absolute;
    opacity: .7;
    z-index: 5000;

    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -16px;
        margin-top: -16px;
        width: 32px;
        height: 32px;
        background: url(./static/img/AjaxLoader.gif) no-repeat center;
        background-size: cover;
    }
}
